# https://help.github.com/articles/dealing-with-line-endings
# http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/

# If no override is provided for a file below we ask git to automatically filter line endings
* text=auto

*.erb text
*.eyaml text
*.gemspec text
*.java text
*.mc text
*.md text
*.php text
*.pp text
*.properties text
*.py text
Rakefile text
*.rb text
README text
*.sh text
Vagrantfile text
*.vim text
*.xml text
*.yaml text
